name: "Build Windows tools"

on:
  workflow_dispatch:
  release:
    types: [created]

env:
  # External tools to be bundled
  FFMPEG_FILE: "ffmpeg-8.0.1-full_build.zip"
  FFMPEG_PATH: "ffmpeg-8.0.1-full_build"
  FFMPEG_URL: "https://github.com/GyanD/codexffmpeg/releases/download/8.0/ffmpeg-8.0.1-full_build.zip"
  FLAC_FILE: "flac-1.5.0-win.zip"
  FLAC_PATH: "flac-1.5.0-win"
  FLAC_URL: "https://ftp.osuosl.org/pub/xiph/releases/flac/flac-1.5.0-win.zip"

jobs:
  build-tbc-tools:
    name: Build tbc-tools (x86_64)
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
          submodules: true

      - uses: lukka/get-cmake@latest
        with:
            cmakeVersion: "^3.31.6" # Need to pin to cmake 3.x until fftw3 is updated to support cmake 4.x.

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgGitCommitId: "f5cbc726b123896eef77f5acc1b9047a28a0731e"

      - name: Run CMake
        uses: lukka/run-cmake@v10
        with:
          configurePreset: vcpkg
          configurePresetAdditionalArgs: "['-G Ninja', '-DCMAKE_BUILD_TYPE=Release', '-DUSE_QT_VERSION=6', '-DVCPKG_APPLOCAL_DEPS=ON', '-DBUILD_TESTING=OFF',]"
          buildPreset: vcpkg
          buildPresetAdditionalArgs: "['--config Release']"

      - name: Create release directory
        run: New-Item -ItemType Directory -Path release

      - name: Copy binaries to release directory
        run: Get-ChildItem -Recurse -Path build\\bin\\* -Include *.exe, *.dll | Copy-Item -Destination release\\

      - name: Copy Qt plugins to release directory
        run: Copy-Item -Recurse -Exclude *.pdb -Path build\\vcpkg_installed\\x64-windows\\Qt6\\plugins\\* -Destination release\\

      - name: Copy license files to release directory
        run: |
          New-Item -ItemType Directory -Path release\\LICENSES
          "double-conversion", `
          "fftw3", `
          "getopt-win32", `
          "libpng", `
          "qtbase", `
          "sqlite3", `
          "zlib" | ForEach-Object { Copy-Item -Path build\\vcpkg_installed\\x64-windows\\share\\$($_)\\copyright -Destination release\\LICENSES\\copyright-$($_) }
          Rename-Item -Path release\\LICENSES\\copyright-qtbase -NewName copyright-qt6

      - name: Download and copy FFmpeg to release directory
        run: |
          Invoke-WebRequest "${{ env.FFMPEG_URL }}" -OutFile ffmpeg.zip
          Expand-Archive .\\ffmpeg.zip -DestinationPath .
          Copy-Item -Path .\\${{ env.FFMPEG_PATH}}\\bin\\ffmpeg.exe -Destination release\\
          Copy-Item -Path .\\${{ env.FFMPEG_PATH}}\\LICENSE -Destination release\\LICENSES\\copyright-ffmpeg

      - name: Download and copy FLAC to release directory
        run: |
          Invoke-WebRequest "${{ env.FLAC_URL }}" -OutFile flac.zip
          Expand-Archive .\\flac.zip -DestinationPath .
          Copy-Item -Path .\\${{ env.FLAC_PATH }}\\Win64\\* -Destination release\\
          Copy-Item -Path .\\${{ env.FLAC_PATH }}\\COPYING.GPL -Destination release\\LICENSES\\copyright-flac

      - name: Copy project license
        run: Copy-Item -Path .\\LICENSE -Destination release\\LICENSES\\copyright-tbc-tools

      - name: Upload release artifact
        uses: actions/upload-artifact@v4
        with:
          name: tbc-tools_windows_x86_64
          path: release
          if-no-files-found: error